<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-duotone fa-solid fa-house-chimney"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="http://localhost:7700/listings#">Home</a>
        <a class="nav-link active" href="http://localhost:7700/listings">All Listings</a>
        <a class="nav-link" href="http://localhost:7700/listings/new">Add new List</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <!-- humne res.user ko currUser mai store karwa liya h using locals, jaha flash define karwaye h . -->
        <% if(!currUser) { %> 
          <a class="nav-link active" href="http://localhost:7700/signup">Sign Up</a>
          <a class="nav-link" href="http://localhost:7700/login">Login</a>
        <% } %>
         <% if(currUser) { %>
          <a class="nav-link" href="http://localhost:7700/logout">Log out</a>
        <% } %>
      </div>
    </div>


  </div>
</nav>